.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$card-set-gap});
  margin-top: calc(-1 * #{$card-set-gap});

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }

  &__item {
    flex-basis: calc(100% / 4 - #{$card-set-gap});
    margin-left: $card-set-gap;
    margin-top: $card-set-gap;
  }

  &__content {
    color: $grey-text;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    background-color: $background-light;
    margin-bottom: 30px;
  }
}

